#leftSidebar {
    height: calc(100vh - 6rem);
    overflow-x: visible;
    transition: 0.3s;
}

#leftSidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #6EE7B7;
    display: block;
    transition: 0.1s;
}

#leftSidebar a:hover {
    color: #F3F4F6;
}

#leftSidebar.open {
    width: var(--left-sidebar-width, 0rem);
}

#leftSidebar.close {
    width: 5.75rem;
}

#leftSidebar .group .item-icon {
    transition: 0.1s;
}

#leftSidebar .group.open .item-icon{
    margin-left: 0rem;
}

#leftSidebar .group.close .item-icon{
    margin-left: 1rem;
}


#leftSidebar .group.open .item-title {
    display: block;
}

#leftSidebar .group.close .item-title{
    display: none;
}

#leftSidebar .group.close:hover .item-title{
    display: block;
    color: #6EE7B7;
    background-color: #111827;
}
