#leftSidebar {
    height: calc(100vh - 6rem);
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1rem;
}

#leftSidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #7fd499;
    display: block;
    transition: 0.3s;
}

#leftSidebar a:hover {
    color: #68d5e4;
    cursor: pointer;
}

#leftSidebar.open {
    width: var(--left-sidebar-width, 0rem);
}

#leftSidebar.close {
    width: 0rem;
}