#leftSidebar {
    height: calc(100vh - 6rem);
    overflow-x: hidden;
    transition: 0.5s;
}

#leftSidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #6EE7B7;
    display: block;
    transition: 0.3s;
}

#leftSidebar a:hover {
    color: #F3F4F6;
}

#leftSidebar.open {
    width: var(--left-sidebar-width, 0rem);
}

#leftSidebar.close {
    width: 5rem;
}

#leftSidebar .item-icon {
    transition: 0.5s;
}

#leftSidebar .item-icon.open{
    margin-left: 0rem;
}

#leftSidebar .item-icon.close{
    margin-left: 1rem;
}

#leftSidebar .item-title {
    transition: 0.5s;
}

#leftSidebar .item-title.open {
    animation: show-item-title 0s 0.5s forwards;
}

#leftSidebar .item-title.close{
    transition: 0.1s;
    display: none;
    color: yellow;
}

@keyframes show-item-title{
      to {
        display: block;
      }
}