.header {
    overflow: visible;
    background-color: #46d6be;
    padding: 10px 1rem;
    height: 3.5rem;
}
  
.header-right {
    float: right;
    display: flex;
    flex-direction: row;
}



.header #dropdown-user:hover{
    color: gold;
}
